In [499]:
import pandas as pd
import re
import dtale

In [500]:
df=pd.read_csv('geometry_no2.csv')

In [501]:
df

     Class                                                geo
0    water  {"type":"Point","coordinates":[-115.9727895685...
1    water  {"type":"Point","coordinates":[-115.8848989435...
2    water  {"type":"Point","coordinates":[-115.7255971857...
3    water  {"type":"Point","coordinates":[-115.7805288263...
4    water  {"type":"Point","coordinates":[-115.7255971857...
..     ...                                                ...
178   soil  {"type":"Point","coordinates":[-116.0532936066...
179   soil  {"type":"Point","coordinates":[-116.0409339874...
180   soil  {"type":"Point","coordinates":[-116.1020454376...
181   soil  {"type":"Point","coordinates":[-115.8067878693...
182   soil  {"type":"Point","coordinates":[-116.2723335236...

[183 rows x 2 columns]

In [502]:
df['geo']=df['geo'].str.extract('.*\[(.*)\].*')

In [503]:
df['Lon']=df['geo'].str.split(r'[\s,]').str[0]

In [504]:
df['Lat']=df['geo'].str.split(r'[\s,]').str[1]
df=df.drop('geo',axis=1)
dtale.show(df)

Executing shutdown due to inactivity...

2021-06-24 17:01:08,123 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2021-06-24 17:01:08,145 - INFO     - Executing shutdown...