In [1]:
import ee
import geemap
import pandas as pd
import dtale
import numpy as np

In [3]:
Map_S5P = geemap.Map()
Map_S5P

Map(center=[40, -100], controls=(WidgetControl(options=['position'], widget=HBox(children=(ToggleButton(value=…

In [16]:
# Create a common region of interest (Texas)
roi = ee.Geometry.Polygon([[[-99.8142578125, 30.812343730092298],
          [-99.8142578125, 29.09908718595617],
          [-96.5623046875, 29.09908718595617],
          [-96.5623046875, 30.812343730092298]]])

# Data COllection for July
image_S5P = ee.ImageCollection("COPERNICUS/S5P/NRTI/L3_NO2") \
    .filterBounds(roi) \
    .filterDate('2018-07-01', '2018-07-31') \
    .sort('ALGORITHM_VERSION') \
    .select('NO2_column_number_density') \
    .median() \
    .clip(roi)

vis_params_S5P = {
    'min': 0,
    'max': 0.0002,
    'bands': ['NO2_column_number_density'],
    'palette': ['black', 'blue', 'purple', 'cyan', 'green', 'yellow', 'red']
}

Map_S5P.addLayer(image_S5P, vis_params_S5P, "Sentinel-5P TROPOMI NO2")


image_LANDSAT8 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filterBounds(roi) \
    .filterDate('2018-07-01', '2018-07-31') \
    .sort('CLOUD_COVER') \
    .select('B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B10', 'B11', 'sr_aerosol') \
    .median() \
    .clip(roi)

vis_params_L8 = {
    'min': 0,
    'max': 3000,
    'bands': ['B5', 'B4', 'B3']
}


Map_S5P.addLayer(image_LANDSAT8, vis_params_L8, "Landsat-8")

ground_truth= image_LANDSAT8.addBands(image_S5P)

# Make the training dataset.
points = ground_truth.sample(**{
    'region': ground_truth.geometry(),
    'scale': 30,
    'numPixels': 5000,
    'seed': 0,
    'geometries': True  # Set this to False to ignore geometries
})

Map_S5P.addLayer(points, {}, 'training', False)

df = geemap.ee_to_pandas(points)
df

,B1,B10,B11,B2,B3,B4,B5,B6,B7,NO2_column_number_density,sr_aerosol
0,353.0,3078.0,3032.0,466.0,778.0,784.5,3123.0,2408.0,1273.5,0.000093,81
1,728.0,2949.0,2908.0,819.5,1166.0,1163.0,3339.5,2894.5,1686.0,0.000087,84
2,218.0,2990.0,2950.0,293.0,637.5,476.0,3211.5,2202.5,1032.5,0.000080,80
3,365.5,2970.5,2936.0,411.0,642.5,555.5,2877.0,2039.0,1091.0,0.000086,96
4,347.0,3091.0,3055.5,458.0,747.0,868.5,2520.0,2816.0,1857.5,0.000074,96
...,...,...,...,...,...,...,...,...,...,...,...
4995,236.0,3037.0,3002.5,331.0,592.5,570.0,2337.5,2222.0,1147.0,0.000092,96
4996,494.0,2951.5,2919.5,558.0,708.5,771.5,1679.0,2006.5,1389.0,0.000085,86
4997,403.5,3044.5,3003.0,474.5,647.0,684.5,1842.0,1936.5,1335.5,0.000089,120
4998,490.0,3068.0,3025.0,675.5,1062.5,1140.5,2804.5,2750.0,1700.5,0.000088,160
4999,330.5,3051.0,3021.0,428.5,747.5,819.5,3004.5,2719.0,1604.5,0.000074,96

In [ ]:
Map_S5P = geemap.Map()
Map_S5P

In [22]:
df.to_csv ('LandSat8_S5_North_Dakota_July_5000_Points.csv', index = False, header=True)

In [21]:
# Create a common region of interest (North Dakota)
roi = ee.Geometry.Polygon([[[-102.4509765625, 48.52002322214767],
          [-102.4509765625, 46.28979068413933],
          [-97.9685546875, 46.28979068413933],
          [-97.9685546875, 48.52002322214767]]])

# Data COllection for July
image_S5P = ee.ImageCollection("COPERNICUS/S5P/NRTI/L3_NO2") \
    .filterBounds(roi) \
    .filterDate('2018-07-01', '2018-07-31') \
    .sort('ALGORITHM_VERSION') \
    .select('NO2_column_number_density') \
    .median() \
    .clip(roi)

vis_params_S5P = {
    'min': 0,
    'max': 0.0002,
    'bands': ['NO2_column_number_density'],
    'palette': ['black', 'blue', 'purple', 'cyan', 'green', 'yellow', 'red']
}

Map_S5P.addLayer(image_S5P, vis_params_S5P, "Sentinel-5P TROPOMI NO2")


image_LANDSAT8 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filterBounds(roi) \
    .filterDate('2018-07-01', '2018-07-31') \
    .sort('CLOUD_COVER') \
    .select('B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B10', 'B11', 'sr_aerosol') \
    .median() \
    .clip(roi)

vis_params_L8 = {
    'min': 0,
    'max': 3000,
    'bands': ['B5', 'B4', 'B3']
}


Map_S5P.addLayer(image_LANDSAT8, vis_params_L8, "Landsat-8")

ground_truth= image_LANDSAT8.addBands(image_S5P)

# Make the training dataset.
points = ground_truth.sample(**{
    'region': ground_truth.geometry(),
    'scale': 30,
    'numPixels': 5000,
    'seed': 0,
    'geometries': True  # Set this to False to ignore geometries
})

Map_S5P.addLayer(points, {}, 'training', False)

df = geemap.ee_to_pandas(points)
df

,B1,B10,B11,B2,B3,B4,B5,B6,B7,NO2_column_number_density,sr_aerosol
0,320.0,2974.0,2953.0,388.0,663.0,776.0,3337.0,2189.0,1452.0,0.000087,96
1,474.5,2961.5,2943.5,483.5,849.5,600.0,3542.0,938.0,460.0,0.000074,122
2,398.0,3011.0,2982.0,464.0,707.0,648.0,2707.0,2518.0,1472.0,0.000093,96
3,156.5,2973.5,2955.0,294.0,1047.5,783.5,5578.5,1620.5,801.5,0.000080,130
4,1454.5,2893.0,2863.5,1449.5,1690.0,1636.5,4420.5,2902.0,2150.5,0.000075,52
...,...,...,...,...,...,...,...,...,...,...,...
4995,385.0,3055.0,3018.0,465.0,751.0,780.0,2701.0,2827.0,1605.0,0.000082,96
4996,336.0,2999.5,2972.5,430.0,699.0,699.0,2484.5,2439.0,1398.5,0.000082,113
4997,6233.0,2669.0,2681.0,6316.0,6358.0,6339.0,7094.0,3002.0,2546.0,0.000073,8
4998,253.0,2944.5,2929.0,291.0,510.0,485.5,2891.5,1447.5,816.5,0.000073,96
4999,313.0,2992.0,2972.0,358.0,692.0,522.0,3810.0,2186.0,1366.0,0.000074,96

In [ ]:
Map_S5P = geemap.Map()
Map_S5P

In [19]:
# Create a common region of interest (Washington DC)
roi = ee.Geometry.Polygon([[[-80.17070312500002, 39.77873631592097],
          [-80.17070312500002, 37.33932815472002],
          [-75.77617187500002, 37.33932815472002],
          [-75.77617187500002, 39.77873631592097]]])

# Data COllection for July
image_S5P = ee.ImageCollection("COPERNICUS/S5P/NRTI/L3_NO2") \
    .filterBounds(roi) \
    .filterDate('2018-07-01', '2018-07-31') \
    .sort('ALGORITHM_VERSION') \
    .select('NO2_column_number_density') \
    .median() \
    .clip(roi)

vis_params_S5P = {
    'min': 0,
    'max': 0.0002,
    'bands': ['NO2_column_number_density'],
    'palette': ['black', 'blue', 'purple', 'cyan', 'green', 'yellow', 'red']
}

Map_S5P.addLayer(image_S5P, vis_params_S5P, "Sentinel-5P TROPOMI NO2")


image_LANDSAT8 = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR') \
    .filterBounds(roi) \
    .filterDate('2018-07-01', '2018-07-31') \
    .sort('CLOUD_COVER') \
    .select('B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B10', 'B11', 'sr_aerosol') \
    .median() \
    .clip(roi)

vis_params_L8 = {
    'min': 0,
    'max': 3000,
    'bands': ['B5', 'B4', 'B3']
}


Map_S5P.addLayer(image_LANDSAT8, vis_params_L8, "Landsat-8")

ground_truth= image_LANDSAT8.addBands(image_S5P)

# Make the training dataset.
points = ground_truth.sample(**{
    'region': ground_truth.geometry(),
    'scale': 30,
    'numPixels': 5000,
    'seed': 0,
    'geometries': True  # Set this to False to ignore geometries
})

Map_S5P.addLayer(points, {}, 'training', False)

df = geemap.ee_to_pandas(points)
df

,B1,B10,B11,B2,B3,B4,B5,B6,B7,NO2_column_number_density,sr_aerosol
0,7026.0,2649.0,2646.0,7044.0,7084.0,7131.0,7827.0,3219.0,2595.0,0.000091,8
1,231.0,2974.0,2963.0,246.0,430.0,218.0,4009.0,1488.0,534.0,0.000095,80
2,310.0,3013.0,3001.0,341.0,597.0,491.0,3380.0,1981.0,988.0,0.000091,96
3,391.0,2991.0,2976.0,463.0,852.0,977.0,3468.0,3064.0,1972.0,0.000104,96
4,3135.0,2511.0,2510.0,3089.0,3130.0,2981.0,4842.0,1875.0,1613.0,0.000081,8
...,...,...,...,...,...,...,...,...,...,...,...
4622,2911.0,2687.0,2688.0,2941.0,3131.0,3155.5,4966.5,2598.5,2150.0,0.000090,52
4623,830.0,3037.0,3019.0,942.0,1221.0,1361.0,3033.0,3494.0,2684.0,0.000079,96
4624,200.0,2935.0,2889.0,286.0,596.0,490.0,2690.0,1475.0,780.0,0.000088,224
4625,145.0,2869.0,2839.0,228.0,486.0,287.0,4018.0,1384.0,576.0,0.000079,224
4626,5307.0,2714.5,2702.5,5343.0,5437.0,5455.0,6737.5,3734.0,2520.0,0.000078,8